* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* BASE STYLES */


/* NORMAL STYLES */
.header {
  background-color: #f8f9fa;
  /* position: fixed; */
  width: 100%;
  /* top: 0; */
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}


.logo__img {
  height: 90px;
  display: block;
}

.nav {

}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {

}

.nav__link {
  color: black;
  font-size: 15px;
  transition: all 0.4s;
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  color: black;
}

.nav__link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgb(0, 183, 255);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}



.btn {
  color: #fff;
  background-color: #0071e3;
  padding: 7px 18px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s;
}

.twobuttons{
  display: flex;
  gap: 10%;
}
.button1{
  height: 50px;
  width: 120px;
  border-radius: 10%;
  background-color: #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .button2{
  height: 50px;
  width: 120px;
  border: 2px solid #0071e3;;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
color: #0071e3;
}

.button1 p{
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.button2 p{
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
  color: #0273e6;
}

.btn:hover {
  background-color: rgb(28, 128, 228);
}

.autrechose{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global1{
  height: 50px;
  width: 50%;
  display: flex;
  border: 1px solid #0071e3;
  border-radius: 5%;
  margin-top: 2%;
  justify-content: center;
  align-items: flex-end;
}

.decouverte{
  height: 50px;
  width: 50%;
  display: flex;
  border: 1px solid #0071e3;
  border-radius: 5%;
  margin-top: 2%;
  justify-content: center;
  align-items: flex-end;
}

.decouverte .petitmot{
font-size: 15px;
font-weight: bold;
color: black;
}

.decouverte .crochet{
font-size: 15px;
font-weight: bolder;
color: #fff;
}



.separe{
max-width: 1340px;
margin: 0 auto;
}

.txtAcc{
margin-top: 8%;
}
.pourTexte{
display: flex;
justify-content: space-evenly;
margin-top: 5%;
}
.diviser{
margin-top: 8%;
}
.diviser h1{
font-size: 60px;
font-weight: bolder;
}

.diviser p{

font-size: 15 px;
}
.autreimg{
height: 45vh;
width: 100%;
border: 1px solid red;

}

.distance{
margin-top: 5%;
}


.wrapper1{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper1 .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper1 .form{
  width: 100%;
}

.wrapper1 .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper1 .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper1 .form .inputfield .input,
.wrapper1 .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper1 .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper1 .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper1 .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper1 .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper1 .form .inputfield .input:focus,
.wrapper1 .form .inputfield .textarea:focus,
.wrapper1 .form .inputfield .custom_select select:focus{
  border: 1px solid #fec107;
}

.wrapper1 .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper1 .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper1 .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper1 .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper1 .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper1 .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper1 .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper1 .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper1 .form .inputfield .btn:hover{
  background: #ffd658;
}

.wrapper1 .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper1 .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper1 .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper1 .form .inputfield.terms{
    flex-direction: row;
  }
}

.wrapper2{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
  display: none;
}

.wrapper2 .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper2 .form{
  width: 100%;
}

.wrapper2 .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper2 .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper2 .form .inputfield .input,
.wrapper2 .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper2 .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper2 .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper2 .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper2 .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper2 .form .inputfield .input:focus,
.wrapper2 .form .inputfield .textarea:focus,
.wrapper2 .form .inputfield .custom_select select:focus{
  border: 1px solid #fec107;
}

.wrapper2 .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper2 .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper2 .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper2 .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper2 .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper2 .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper2 .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper2 .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper2 .form .inputfield .btn:hover{
  background: #ffd658;
}

.wrapper2 .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper2 .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper2 .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper2 .form .inputfield.terms{
    flex-direction: row;
  }
}

.wrapper3{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
  display: none;
}

.wrapper3 .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper3 .form{
  width: 100%;
}

.wrapper3 .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper3 .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper3 .form .inputfield .input,
.wrapper3 .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper3.form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper3 .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper3.form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper3 .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper3 .form .inputfield .input:focus,
.wrapper3 .form .inputfield .textarea:focus,
.wrapper3 .form .inputfield .custom_select select:focus{
  border: 1px solid #fec107;
}

.wrapper3 .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper3 .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper3 .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper3 .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper3 .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper3 .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper3 .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper3 .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper3 .form .inputfield .btn:hover{
  background: #ffd658;
}

.wrapper3 .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrappe3r .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper3 .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper3 .form .inputfield.terms{
    flex-direction: row;
  }
}




/* MEDIA QUERIES */
@media (max-width: 650px) {
  .header__content {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    row-gap: 18px;
  }

  .nav__list {
    column-gap: 20px;
  }
}