* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }

  .arrange{
    height: 90vh;
    width: 100%;
  }
  
  /* BASE STYLES */

  
  /* NORMAL STYLES */
  .header {
    background-color: #F8F9FA;
    /* position: fixed; */
    width: 100%;
    top: 0;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  
  
  .logo__img {
    height: 80px;
    display: block;
  }
  
  .nav {
  
  }
  
  .nav__list {
    display: flex;
    column-gap: 40px;
  }
  
  .nav__item {
  
  }
  
  .nav__link {
    color: black;
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
  }
  
  .nav__link:hover,
  .nav__link:focus {
    color: rgb(0, 183, 255);
  }
  
  .nav__link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(0, 183, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav__link:hover::after {
    opacity: 1;
  }


  
  .btn {
    color: #fff;
    background-color: #0071e3;
    padding: 7px 18px;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.2s;
  }

.twobuttons{
    display: flex;
    gap: 10%;
}
  .button1{
    height: 50px;
    width: 120px;
    border-radius: 10%;
    background-color: #0071e3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

    .button2{
    height: 50px;
    width: 120px;
    border: 2px solid #0071e3;;
    border-radius: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  span{
    font-size: 20px;
  }

  .button1 p{
    font-size: 20px;
    color: #fff;
  }

  .button2 p{
    font-size: 15px;
  }
  
  .btn:hover {
    background-color: rgb(28, 128, 228);
  }

  .corps{
    max-width: 1140px;
    margin: 0 auto;
  }
  .global-corps{
    display: flex;
    align-items: center;
  }
  .img-corps img{
    height: 371px;
    width: 300px;
    margin: 10px;
    object-fit: cover;
    
  }
  .mot-directeur p{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .contain{
    height: 60vh;
    width: 100%;
   background-color: #F8F9FA;
  }
  .details-contain{
    height: 100%;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
  .texte{
    text-align: center;
  }
  .cage-photo{
    display: flex;
    justify-content: space-around;
  }
  .cage-ph1{
    height: 40vh;
    width: 30%;
    background-color: #fff;
    border-radius: 5%;

  }


  .cage-ph1 h2{
    font-size: 20px;
    text-align: center;
    margin: 10px;
  }

  .cage-ph1:hover{
    transform: scaleX(0.8);
  }
  .texte-phto{
    height: 30vh;
    width: 100%;
  }
  .texte-phto img{
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .autrechose{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .autreimg img{
    height: 50vh;
    width: 95%;
    margin-top: 30px;
  }
  .autretexte h1{
    font-size: 1rem;
  }
  .decouverte{
    height: 53px;
    width: 43%;
    display: flex;
    align-items: flex-end;
    background-color: #0071e3;
    border-radius: 5%;
    text-align: center;
    justify-content: space-around;
  }

.decouverte .petitmot{
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.decouverte .crochet{
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
}

  .bardescrip{
    width: 100%;
    height: 20vh;
    background-color: #0A2540;
    margin-top: 3%;
  }
  .ranger{
    display: flex;
    justify-content: space-between;
  }
  .mesTexte{
    display: flex;
        align-items: flex-end;
        margin-top: 4%;
  }

  .mesTexte h2{
    text-align: center;
    color: #FABD03;
  }


  .mesTexte p{
    text-align: center;
    color: #FABD03;
  }

  .encadrer{
    background-color:  #F8F9FA;
  }

  .AvtDernierePartir{
    max-width: 1140px;
    margin: 0 auto;
  }

  .partenaire{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
  }
  .logo1 img{
    height: 120px;
    width: 200px;
  }

  .recomande{
    text-align: center;
    margin-top: 15%;
  }

  .decouvert{
    height: 53px;
    width: 27%;
    display: flex;
    align-items: flex-end;
    background-color: #0071e3;
    border-radius: 5%;
    text-align: center;
    justify-content: space-around;
  }

  .milieu{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .decouvert .petitmot{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }
  
  .decouvert .crochet{
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
  }

.distance{
  margin-top: 5%;
}
  
  /* MEDIA QUERIES */
  @media (max-width: 650px) {
    .header__content {
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
      row-gap: 18px;
    }
  
    .nav__list {
      column-gap: 20px;
    }
  }